{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.previewPhoto != null %}
        <div>
            <img style="max-width: 130px;" id="culture_image" src="{{ object.previewPhoto }}" height="15"/>
        </div>
    {% endif %}
{% endblock %}
